*{
    margin: 0;
}

header{
    padding-bottom: 30px;
    background-color: black;
}


main{
    padding: 50px;
    background-image: url('../02_C.qwerty_bg/keyboard_01.jpg');
    background-repeat: repeat;
    background-size: 20%;
    padding-bottom: 100px;
}

h1{
    padding-top: 20px;
    color: green;
    text-align: center;
}

#qwerty_logo{
    display: block;
    margin: auto;
}

#qwerty_count{
    text-align: center;
    color: rgb(255, 0, 0);
}

.qwerty_p {
    text-align: center;
}

.qwerty {
    text-align: center;
    margin: 10px;
}

#qwerty_keyboard {
    height: 100%;
    width: 100%;
}

#qwerty_keyboard img {
    position: absolute;
    left: 70%;
    top: 100px;
}

#row_1{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    padding: 10px;
    color: green;
    font-size: 20px;
    text-align: center;
}